@{
    ViewData["Title"] = "BaconSale Podcast";
}
<h1 class="text-xl-center">@ViewData["Title"]</h1>


<p class="text-xl-center">Click <a href="https://baconsale.com/" target="_blank">here</a> to learn more about these movies in Joel Hilton's podcast <a href="https://baconsale.com/" target="_blank">Bacon Sale</a></p>
